apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: {{ .Values.name }}
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: {{ .Values.service.nodePort }}
