namespace: timestamp
name: timestamp-formatter

image:
  repository: karslo92111/timestamp-formatter
  tag: 0.0.1

generator_service_url: "http://timestamp-generator:8080"

resources:
  requests:
    cpu: "100m"
    memory: "64Mi"
  limits:
    cpu: "500m"
    memory: "128Mi"

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 5

livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 10

service:
  nodePort: 30081
