namespace: timestamp
name: timestamp-generator

image:
  repository: karslo92111/timestamp-generator
  tag: latest

resources:
  requests:
    cpu: "100m"
    memory: "64Mi"
  limits:
    cpu: "500m"
    memory: "128Mi"

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 5

livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 10
